.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #999;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	margin-right: 2px;
	margin: 2px 0;
	background: transparent;
	border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove span {
	background: #b8bb8d;
	color: #212121;
	width: 22px;
	border-radius: 100%;
	height: 22px;
}
